/* 
color: #35CDF3
text: #131313

*/

html {
  color: #131313;
  font-size: 62.5%;
  font-family: "Montserrat", sans-serif;
}

body {
}

.container {
  max-width: 110rem;
  margin: 0 auto;
}

.overlayModal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
}

h1 {
  font-size: 4.8rem;
}

h2 {
  font-size: 3.2rem;
  font-weight: 700;
  margin-bottom: 3.6rem;
}

.btn {
  padding: 1.6rem 3.2rem;
  background-color: #35cdf3;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 700;
  letter-spacing: 3px;
  transition: all 0.5s;
  border: 2px solid #35cdf3;
}

.btn:hover {
  background-color: #fff;
  color: #35cdf3;
}

/* HEADER & NAVBAR */
.header {
  padding: 0 2.4rem;
  position: sticky;
  top: 0;
  z-index: 8;
  background-color: rgba(255, 255, 255, 0.9);
}

.header__navContainer {
  padding: 2.8rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo {
  font-size: 2rem;
  color: #131313;
}

.logo__name {
  color: #35cdf3;
  font-weight: 700;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav {
  display: flex;
  gap: 48px;
}

.nav a {
  font-size: 1.6rem;
  text-decoration: none;
  color: #131313;
  transition: all 0.5s;
}

.nav a:hover {
  color: #35cdf3;
}

/* BANNER */
.banner {
  height: 24rem;
  position: relative;
  background-image: url(./img/bg.png);
  background-size: cover;
}

.banner__title {
  text-align: center;

  line-height: 1.2;
  font-size: 2.4rem;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 5;
  transform: translateX(-50%) translateY(-50%);
}

/* WORKS */
.myWorks {
  padding: 4.8rem 2.4rem;
}

.works__landingPages {
  margin-bottom: 6.4rem;
}

.works {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2.4rem;
}

.works__item {
  position: relative;
  overflow: hidden;
  height: 27rem;
  width: 100%;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  background-position: center;
  background-size: cover;
  transition: all 0.5s;
}

.works__item--omnifood {
  background-image: url(./img/omni.png);
}

.works__item--bake {
  background-image: url(./img/bake.png);
}

.works__item--sunny {
  background-image: url(./img/sunny.png);
}

.works__item--coffeasy {
  background-image: url(./img/coffeasy.png);
}

.works__item--watchmecode {
  background-image: url(./img/watchmecode.png);
}

.item__modal {
  background-color: rgba(53, 205, 243, 0.9);
  height: 100%;
  width: 175%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
  transform: skew(-45deg) translateX(-125%);
}

.works__item:hover {
  transform: translateY(-6px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.works__item:hover .item__modal {
  transform: skew(-45deg) translateX(-20%);
}

.works__item:hover .item__title {
  opacity: 1;
}

.item__title {
  font-size: 2.8rem;
  color: #fff;
  font-weight: 700;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  opacity: 0;
  transition: all 0.5s;
  text-align: center;
}

.item__desc {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.3;
}

/* ABOUT PAGE */
/* AVA */
.avaBanner {
  display: grid;
  grid-template-columns: 4fr 8fr;
}

.avaBanner img {
  width: 100%;
}

.avaBanner__shortDesc {
  padding: 4rem 0 4.8rem 4rem;
}

.avaBanner__subtitle {
  font-size: 6.4rem;
  color: rgb(53, 205, 243, 0.4);
}

.avaBanner__title {
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 1.2;
  color: ;
}

.aboutMe {
  padding: 4.8rem 0 7.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.aboutMe__desc {
  font-size: 1.6rem;
  font-style: italic;
  line-height: 1.6;
  margin-bottom: 2.8rem;
}

.aboutMe__note {
  font-size: 1.6rem;
  margin-bottom: 2.4rem;
}

/* FOOTER */
footer {
  padding: 2.4rem;
  border-top: 1px solid #ababab;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.6rem;
}
footer p {
  font-size: 1.4rem;
  color: #ababab;
}

.contact {
  font-size: 2.4rem;
  font-weight: 700;
  color: #131313;
}

.contact__email {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  font-size: 2.8rem;
  /* margin-bottom: 1.6rem; */
}

.contact__email a {
  font-size: 1.6rem;
  color: #131313;
  transition: all 0.5s;
}

.contact__email a:hover {
  color: #35cdf3;
}

.contact__social {
  display: flex;
  gap: 1.6rem;
  font-size: 1.8rem;
}

.social__item {
  color: #131313;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3.2rem;
  height: 3.2rem;
  border: 1px solid #131313;
  transition: all 0.5s;
}

.social__item:hover {
  color: #4267b2;
}
