/* 
color: #35CDF3
text: #131313

*/

html {
  color: #131313;
  font-size: 62.5%;
  font-family: "Montserrat", sans-serif;
}

body {
}

.container {
  max-width: 110rem;
  margin: 0 auto;
}

.overlayModal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.85);
}

h2 {
  font-size: 3.2rem;
  font-weight: 700;
  margin-bottom: 3.6rem;
}

/* HEADER & NAVBAR */
.header__navContainer {
  padding: 2.8rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo {
  font-size: 2rem;
}

.logo__name {
  color: #35cdf3;
  font-weight: 700;
}

.navbar {
  display: flex;
  justify-content: space-between;
}

.nav {
  display: flex;
  gap: 48px;
}

.nav a {
  font-size: 1.6rem;
  text-decoration: none;
  color: #131313;
  transition: all 0.5s;
}

.nav a:hover {
  color: #35cdf3;
}

/* BANNER */
.banner {
  height: 24rem;
  position: relative;
  background-image: url(./img/bg.png);
  background-size: cover;
  background-position: fixed;
}

.banner__title {
  width: 40%;
  line-height: 1.2;
  font-size: 2.4rem;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 5;
  transform: translateX(-50%) translateY(-50%);
}

/* WORKS */
.myWorks {
  padding: 4.8rem 0;
}

.works__landingPages {
  margin-bottom: 6.4rem;
}

.works {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.6rem;
}

.works__item {
  position: relative;
  overflow: hidden;
  height: 27rem;
  width: 100%;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  text-decoration: none;
}

.works__item--omnifood {
  background-image: url(./img/omni.png);
}

.works__item--bake {
  background-image: url(./img/bake.png);
}

.works__item--sunny {
  background-image: url(./img/sunny.png);
}

.works__item--coffeasy {
  background-image: url(./img/coffeasy.png);
}

.item__modal {
  background-color: rgba(53, 205, 243, 0.9);
  height: 100%;
  width: 175%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
  transform: skew(-45deg) translateX(-125%);
}

.works__item:hover .item__modal {
  transform: skew(-45deg) translateX(-25%);
}

.works__item:hover .item__title {
  opacity: 1;
}

.item__title {
  font-size: 2.8rem;
  color: #fff;
  font-weight: 700;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  opacity: 0;
  transition: all 0.5s;
  text-align: center;
}

.item__desc {
  font-size: 1.8rem;
  font-weight: 500;
}
